.tw-follow-card {
  display: flex;
  align-items: center;
  color: #ffff;
  font-size: 0.8rem;
  /* padding: 2px 2px 8px 2px; */
  justify-content: space-between;
}

.tw-follow-card-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-follow-card-info {
  display: flex;
  flex-direction: column;
}

.tw-follow-card-info-username {
  opacity: 0.6;
}

.tw-follow-card-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-follow-card-info-button {
  min-width: 140px;
  cursor: pointer;
  margin-left: 16px;
  border: 1px solid #c3d8e2;
  border-radius: 22px;
  padding: 6px 16px;
  font-weight: bold;
  transition: 0.3s ease background-color;
}
.tw-follow-card-info-button.tw-follow-is-following {
  border-color: #4289e6;
  background-color: #4289e65b;
  color: white;
}

.tw-follow-card-info-button:hover {
  background-color: #4289e6;
  color: white;
}

.tw-follow-card-info-button.tw-follow-is-following:hover {
  background-color: #e74a4a23;
  border-color: #e74a4a;
  color: white;
}
.tw-follow-card-info-button.tw-follow-is-following:hover::before {
  content: "Dejar de seguir";
}

.tw-follow-card-info-button.tw-follow-is-following:hover
  .tw-follow-card-follow-status {
  display: none;
}
